COMPOSE_PROJECT_NAME=spatial-twin-platform
FRONTEND_PORT=5174
BACKEND_PORT=8000
POSTGRES_PASSWORD=postgres
API_AUTH_ENABLED=false
API_ACCESS_TOKEN=local-dev-token
CORS_ORIGIN_REGEX=http://(localhost|127\.0\.0\.1|10\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.(1[6-9]|2\d|3[0-1])\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3})(:5173|:5174|:8000)?
UPLOAD_MAX_BYTES_IMAGE=26214400
UPLOAD_MAX_BYTES_CAD=157286400
UPLOAD_MAX_BYTES_MODEL=314572800
UPLOAD_MAX_BYTES_POINTCLOUD=2147483648
